// COLORS
// COLORS
// COLORS

$foundation-palette: (
  primary: #1779ba,
  secondary: #767676,
  success: #3adb76,
  warning: #ffae00,
  alert: #cc4b37,
  general: #BD66A7,
  sexy: #F082D4,
  sexier: #703D64,
  dark: #705F6C,
  glamour: #F02A52,
  sky: #F2CCE9
);


// $colors: (
//   general: #BD66A7,
//   sexy: #F082D4,
//   sexier: #703D64,
//   dark: #705F6C,
//   glamour: #F02A52,
//   sky: #F2CCE9
// );


@function color($key) {
  @if map-has-key($foundation-palette, $key) {
    @return map-get($foundation-palette, $key);
  }

  @warn "Unknown `#{$key}` in $foundation-palette.";
  @return null;
}


/* HEADERS */
/* HEADERS */
/* HEADERS */

section {
  margin-bottom: 2em;
}


/* NAV-MAGELLAN */
/* NAV-MAGELLAN */
/* NAV-MAGELLAN */

#sticky-magellan h4 {
  display: inline;
  color: #fff;
}

#sticky-magellan {
  background-color: color(sexy);
  font-size: 0.9em;
  text-align: center;
  padding: 0.1em;
  line-height: 10px;
}

#sticky-magellan li {
  display: inline-block;
}



/* GENERAL */
/* GENERAL */
/* GENERAL */
.wrap {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}


/* NAV-MOBILE */
/* NAV-MOBILE */
/* NAV-MOBILE */

.title-bar {
  background-color: color(sexy);
  height: 6em;
  padding: 17px;
}

.title-bar.show-for-small-only {
  height: 3.5em;
}

.title-bar-title {
    padding-left: 0.5em;
}

#offCanvas {
  background-color: color(secondary);
  padding-left: 2em;
  padding-top: 1em;
  // color: $alert-color;
  list-style: none;
}

#offCanvas a {
  color: rgba(255,255,255,0.6);
  font-weight: bold;
  line-height: 2;
}

#offCanvas a:hover {
  color: rgba(255,255,255,0.8);
  font-weight: bold;
  line-height: 2;
}


.js-off0canvas-exit {
  color: rgba(0,0,0,0.5);
}


/* NAV-DESKTOP */
/* NAV-DESKTOP */
/* NAV-DESKTOP */

.nav-desktop{
  background-color: color(sexy);
  height: 120px;
  padding: 0;
}

img.spaced {
  margin: 2em auto;
  padding: 2em;
}

.site-logo {
  color: white;
  line-height: 80px;
}

a.anchor {
    display: block;
    position: relative;
    top: -5em;
    visibility: hidden;
}

.nav-desktop .menu-desktop {
  line-height: 80px;
  background-color: transparent;
}

.nav-desktop a {
  display: inline-block;
}

ul.menu > li > a {
  text-transform: uppercase;
}

.menu > li > a {
  display: inline-block;
  line-height: 80px;
  padding-top: 0;
  padding-bottom: 0;
  color: white;
}


.menu > li > a:hover {
  background-color: rgba(255,255,255,0.1);
}


.menu.magellan > li > a {
  // display: inline-block;
  display: inline-grid;
  line-height: 20px;
  padding: 10px 10px;
  // text-transform: uppercase;
  color: color(secondary);
}


.menu.magellan > li > a:hover {
  background-color: rgba(255,255,255,0.1);
}


/* HERO */
/* HERO */
/* HERO */

.hero {
  background-image: url('/assets/images/background/cup-mug-desk-office.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  padding: 1em;
  background-color: #998;
}

.hero h2 span {
  display: inline;
  padding: 0.2em 0.4em;
  background-color: rgba(255,255,255,0.8);
}

.hero p {
  width: 70%;
  background-color: rgba(255,255,255,0.8);
  padding: 0.2em 0.4em;
}

/* FOOTER */
/* FOOTER */
/* FOOTER */

footer {
  background-color: color(secondary);
  padding: 20px 0 20px 0;
}

footer h4 {
  color: rgba(255,255,255,0.8);
  font-size: 1.3em;
}

footer hr {
  border-color: rgba(255,255,255,0.1);
  margin: 5px 0;
}

footer a {
  display: block;
  color: rgba(255,255,255,0.6);
}

footer span {
  display: block;
  font-weight: bold;
  color: rgba(255,255,255,0.6);
}


/* MEDIA QUERY */
/* MEDIA QUERY */
/* MEDIA QUERY */

@media (max-width: 639px) {
  .nav-desktop {
    display: none;
  }
}

@media (max-width: 875px) {
  .hero h1,
  .hero p {
    width: 100%;
  }
}



