a.anchor#about
section.about
  .wrap.row
    h2 About Me
    hr
    p Writing “About Me” sections is hard. It’s hard because I can’t understand, now nor never, how you can condense a person down to a few paragraphs. But I’ll try my best.
    p I love the indoors and also the outdoors. I love riding on my mountain bike, playing video games, watching movies, working out, and sometimes even going to the club to have drinks and dance.
    p I also enjoy learning stuff. A day in which you have not discovered something new is a day wasted. In this regard, I know a hell of a lot of stuff. Obviously, I myself never noticed this but multiple people have told me this characteristic that I apparently posses.
    p Making stuff is hard. You have to be passionate in what you do to constantly strive for perfection. Once I am dedicated to a task, I will not rest until it is finished. Finito. Done AF. And then I will rest easy knowing that the goal has been accomplished. Constantly push yourself, as you are your only limit.
    p So yeah. My name is David Felix, and I make things better.