.row.small-up-2.large-up-4
  .column
    .card
      img(src='assets/images/sample-work/Beanberry---1622-V1.jpg')
      .card-section
        h4 This is a card.
        p It has an easy to override visual style, and is appropriately subdued.
  .column
    .card
      img(src='assets/img/generic/rectangle-1.jpg')
      .card-section
        h4 This is a card.
        p It has an easy to override visual style, and is appropriately subdued.
  .column
    .card
      img(src='assets/img/generic/rectangle-1.jpg')
      .card-section
        h4 This is a card.
        p It has an easy to override visual style, and is appropriately subdued.
  .column
    .card
      img(src='assets/img/generic/rectangle-1.jpg')
      .card-section
        h4 This is a card.
        p It has an easy to override visual style, and is appropriately subdued.