form
  .row
    .medium-6.columns
      p Getting in touch couldn't be any easier. Just fill this form in, and I will promise to reply PRONTO. Do not hesitate to ask whjatever is on your mind, from the time of day all the way to which galaxy we will be colliding into in a billion years.
      p Also, don't forget to stay awesome!
    .medium-6.columns
      label
        | Name
        input(type='text', placeholder='How may I call you?')
      label
        | Email
        input(type='email', placeholder='Your email address to reply')
      label
        | Phone #
        input(type='tel', placeholder='+15556667788')
      label
        | What should we talk about
        textarea(placeholder='Your message')
      input.button(type='submit', value='Submit')
