a.anchor#footer
footer.footer
  .wrap.row.small-up-1
    //- .column
    //-   h4 Contact Info
    //-   hr
    //-   span Phone: +18005555555
    //-   span Email: acme@acmemade.com
    //- .column
    //-   h4 Site Map
    //-   hr
    //-   a(href="#services" alt="Services") Services
    //-   a(href="#portfolio" alt="Portfolio") Portfolio
    //-   a(href="#about" alt="About") About
    //-   a(href="#contact" alt="Contact") Contact
    .column
      h4 Social Media
      hr
      a(href="https://github.com/df-a" alt="Github") Github
      a(href="https://github.com/df-a" alt="Linked.in") Linked.in
      a(href="https://github.com/df-a" alt="Twitter") Twitter
      a(href="https://github.com/df-a" alt="Google Plus") Google Plus