mixin head
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title David Felix: I make things better
    link(rel="stylesheet" href="css/app.css")
    link(rel="stylesheet" href="css/custom_styles.css")