a.anchor#services
section.hero
  .wrap.row
    h2
      span How can I be of service?
    hr
    p Welcome! If you are looking for someone who can help you realize your ideas, you have come to the right place!
    p From print design work, to taking those ideas in the infinite confines of the web, I can help you make it happen!
    p As is the case with pretty much anyone, it's kind of difficult to put into words what I do, but I'll try: I make things better. I take anything that is or isn't tangible, and add or substract from it in order to make it better.
