// PORTFOLIO
a.anchor#portfolio
section.portfolio
  .wrap.row
    h2 DF: Portfolio
    hr
    article.row
      .small-12.column
        h3 What do I do
        p To be clear, I am very skilled at making ideas tangible using a wide range of software packages. However big or however small it does not matter, I can make it happen. I have worked for the biggest companies, and I have also helped the smallest players to get their feet wet.
        p I have a ton of experience with all kinds of software, hardware and concepts, from Adobe to Affinity, from Atom to Sublime, from R to Excel. Mac computers, homemade Windows computers, Linux computers, none of them are any problem whatsoever. And of course, Microsoft PowerPoint and Apple Keynote too.
        P You can find just a smidgen of what I'm capable of below.
    hr
    .row.small-up-2.medium-up-3
      .column
        .card
          img(src='assets/images/sample-work/Beanberry---1622-V1.jpg')
          .card-section
            h4 Beanberry
            p Up and coming healthy food restaurant wanted to let the island know that they were here to stay.
      .column
        .card
          img(src='assets/images/sample-work/Insulinde_1508 copy.jpg')
          .card-section
            h4 Insulinde Wknd
            p Insulinde has always been very strict when it comes to the presentation of their ads, and this one is no different.
      .column
        .card
          img(src='assets/images/sample-work/mojito-1649-xl.jpg')
          .card-section
            h4 Mojito Bar
            p They wanted to show the public that they were not just about mojito's, despite their name, but also about dancing.
      .column
        .card
          img(src='assets/images/sample-work/Twin-Divers---1652.jpg')
          .card-section
            h4 Twin Divers
            p The twins wanted somehting aquatic, to attract as many divers as possible to their business.
      .column
        .card
          img(src='assets/images/sample-work/dal-toro-1230.jpg')
          .card-section
            h4 Dal Toro
            p Local Italian Restaurant "Dal Toro" wanted a nice ad that could represent perfectly their classiness and style, while also enticing the customers to come and see what they are all about.
      .column
        .card
          img(src='assets/images/sample-work/yvette-schuit-indra-yoga-massage-1647.jpg')
          .card-section
            h4 Indra Yoga
            p Yvette Schuit is a local yoga practitioner, a yogini, who specializes in beach-side lessons.
    hr
    article.row
      .small-12.medium-6.column
        p "Fuego" is a specialty restaurant located in Jan Thiel Beach, with quite some vistas. Naturally, they want to attract the more affluent clientele and needed an ad to reflect just this.
        img.spaced(src="assets/images/sample-work/morena-1414-b.jpg", alt="Morena Resort" title="Morena Resort Terrace Ad")
        p And of course I delivered, bridging the gap between those who offered the service and those who needed the service. It's a beautiful thing.
      .small-12.medium-6.column
        img.spaced(src="assets/images/sample-work/eco-energy-ad-resida.jpg", alt="Eco Energy Ad" title="Eco Energy ad for Resida Magazine")
        p Eco Energy is a popular provider of alternative energy for the island, and I was tasked to make an ad for the company to place in a alt-enerrgy magazine called Resida.
        p This ad was part of a broader scope of services I offered to Eco Energy, including the making of their company brochure and various powerpoint slideshows for their presentational purposes.
