doctype html
html(class="no-js" lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title David Felix: I make things better
    link(rel="stylesheet" href="css/app.css")
    link(rel="stylesheet" href="css/custom_styles.css")
  body

    // OFF CANVAS MENU & SITE MAIN CONTENT WRAPPERS

    .off-canvas-wrapper
      .off-canvas-wrapper-inner(data-off-canvas-wrapper)

        // OFF CANVAS MENU
        .off-canvas.position-left(id="offCanvas" data-off-canvas)
        // SITE MAIN CONTENT
        .off-canvas-content(data-off-canvas-content)
          button.button(type="button" data-toggle="offCanvas") Open Menu
          include main-content.pug

  script(src="bower_components/jquery/dist/jquery.js")
  script(src="bower_components/what-input/dist/what-input.js")
  script(src="bower_components/foundation-sites/dist/js/foundation.js")
  script(src="js/min/app-min.js")