include pug/navigation
include pug/head

doctype html
html(class="no-js" lang="en")
  +head
  body

    // OFF CANVAS MENU & SITE MAIN CONTENT WRAPPERS

    .off-canvas-wrapper
      .off-canvas-wrapper-inner(data-off-canvas-wrapper)

        // OFF CANVAS MENU
        .off-canvas.position-left(id="offCanvas" data-off-canvas)
          +off-canvas
        // SITE MAIN CONTENT
        .off-canvas-content.data-sticky-container(data-off-canvas-content)
          //- button.button(type="button" data-toggle="offCanvas") Open Menu
          .title-bar.show-for-small-only
            .title-bar-left.data-sticky
              button.menu-icon(type="button" data-open="offCanvas")
              span.title-bar-title David Felix: Portfolio
          include main-content.pug

  script(src="bower_components/jquery/dist/jquery.js")
  script(src="bower_components/what-input/dist/what-input.js")
  script(src="bower_components/foundation-sites/dist/js/foundation.js")
  script(src="js/min/app-min.js")
