include pug/navigation

// DESKTOP NAVIGATION
+top-bar

// HERO SECTION
include pug/hero

// PORTFOLIO SECTION
include pug/portfolio

// ABOUT
a.anchor#about
section.about
  .wrap.row
    h2 DF: About Me
    hr

// CONTACT
a.anchor#contact
section.contact
  .wrap.row
    h2 DF: Contact
    hr
    include pug/contact

// FOOTER
+footer