include pug/navigation

// DESKTOP NAVIGATION
+top-bar

// HERO SECTION
include pug/hero

// PORTFOLIO SECTION
include pug/portfolio

// ABOUT
section.about#about
  .wrap.row
    h1 DF: About Me
    hr

// CONTACT
section.contact#contact
  .wrap.row
    h1 DF: Contact
    hr
    include pug/contact

// FOOTER
+footer
.footer
  <script>document.write(new Date().getFullYear())</script>. All Rights Reversed